h1{
	font-family: Arial; 
	font-size: 50px; 
	text-align: center;
	color: black; 
}

h2 {
	font-family: Arial; 
	color: black; 
}

body{
	background-color: #130038; 
}
p {
	font-family: Arial; 
	color: black;
	text-decoration: bold; 
}

#header p{
	text-align: center;
}
#feedback p{
	text-align: left;
}

#todo p{
	text-align: left;
	font-family: Arial; 
	color: black;
}
.airtable-embed{

}

a{
	text-decoration: none underline; 
	color: darkgrey; 
}
